.nav-bar {
  display: flex;
  background-color: rgb(66, 66, 66);
}
.main-page {
  display: flex;
  justify-content: space-between;
}
section {
  display: flex;
  flex-direction: column;
  flex-grow:4;
}

.overview {
  background-color:rgb(223, 225, 236);
  width: 100px;
}
 ul {
  display: flex;
}
article{
    display: flex;
    height:100px;
    justify-content: space-between;
}
.circle {
  border-radius: 200px 200px 200px 200px;
  -moz-border-radius: 200px 200px 200px 200px;
  -webkit-border-radius: 200px 200px 200px 200px;
  border: 1px solid rgb(182, 182, 182);
  width: 20px;
  height: 20px;
  margin: 10px;
}
.question-info{
    display: flex;
}
aside{
    display: flex;
    justify-content: center;
    flex-grow:1;
    height: auto;
    height: 100%;
}
.filter-select{
    width: 200px;
    align-self: flex-end;
    margin:10px;
}
.questions-per-page{
    width: 50px;
    align-self: flex-end;
    margin:10px;
}
.line{
    border-bottom: 1px solid #A4A4A4;
    border-left: 1px solid #A4A4A4;

}
.drop-down{
    display: flex;
    justify-content: flex-end;
}
html, body, .main-page {
    height: 100%;
  }
  

  .blue-button{
      width: 200px;
      height: 35px;
      background-color: rgb(22, 162, 255);
      margin:20px;

  }
   .search, nav {
    flex-grow: 3;
  }
  nav{
      background-color: black;
  }
  .logo, .login{
      flex-grow: 1;
  }
  article:nth-child(odd) {
    background: rgb(238, 241, 241);
  }
  article:nth-child(odd) .circle:nth-child(even) {
    background: green;
  }
  select{
      background-color: rgb(238, 241, 241);
  }
  .tag{
    border-radius: 20px;
    border: 1px solid rgb(182, 182, 182);
    background-color: rgb(238, 241, 241);
    width:50px;
    height: 15px;
    margin:10px;
  }
  .questions{

    display: flex;
    justify-content: space-between;
    align-items: center;
  }
