<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, minimum-scale=1"
    />
    <title>Project Forum 1</title>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../style/reset.css" />
    <link rel="stylesheet" href="../style/styles.css" />
  </head>

  <body>
    <div class="navigation">
      <div class="logo"><b>QA</b>ENGINE</div>
      <div class="nav-bar">
        <div class="search">
          <input
            class="input-text"
            type="text"
            name="fname"
            placeholder="Enter Keyword"
          />
          <figure class="magnifying-glass icon" ></figure>
        </div>
        <div class="nav-links">
          <ul class="nav-ul">
            <li><a href="#"><div class="text-with-icon">Home</div></a></li>
            <li><a class="text-with-icon expand-icon">About us</a></li>
            <li><a href="#"><div class="text-with-icon">Blog</div></a></li>
            <li><a href="#"><div class="text-with-icon">Term</div></a></li>
            <li><a href="#"><div class="text-with-icon">Contact</div></a></li>
          </ul>
        </div>

    </div>
    <div class="login"><a href="" class="link">Login or Register</a></div>

</div>

    <main class="main-page">
      <aside class="side-container">

        <div class="button-wraper">
          <button class="blue-button">+ ASK A QUESTION</button>
        </div>
        <div class="left-container">
          <a href="./index.html" class="text-with-icon pseudo-icon question-mark">All Questions</a>
          <a href="./New Questions.html" class="text-with-icon pseudo-icon question-mark">New Questions</a>
          <a class="text-with-icon pseudo-icon tag-icon">Tags</a>
          <a class="text-with-icon pseudo-icon badge-icon ">Badges</a>
          <a class="text-with-icon pseudo-icon category-icon">Categories</a>
          <a class="text-with-icon pseudo-icon users-icon">Users</a>
        </div>
        <div class="social-media">
          <div class="social-icon facebook-icon"></div>
          <div class="social-icon twiter-icon"></div>
          <div class="social-icon google-icon"></div>
        </div>
        <div class="copyright-container">
          <p class="regular-text">&copy; 2015 Enginethemes</p>
          <a href="#" class="link">Terms & Privacy</a>
        </div>
      </aside>

      <section class="main-content">


          
<div class="articles-container">
        <div class="select-container">
          <h2 class="category-picker-headline">All Questions</h2>
          <select class="filter-select " name="pages">
            <option value="category1">Filter by category</option>
          </select>
        </div>
        <div class="select-container">
          <div class="selected-category">
            <h5 class="category-title">Latest</h5>
            <h5 class="category-title">Votes</h5>
            <h5 class="category-title">Unanswered</h5>
          </div>
          <div class="category-selection-wraper">
            <h5 class="category-title">Questions per page</h5>

            <select class="questions-per-page " name="category">
              <option>12</option>
            </select>
          </div>
        </div>

        <article class=" article-container ">
          <div class="question-container">
            <h4 class="question-header">
              Select coordinates which fall within central
            </h4>
            <p class="regular-text">
              I have a database of coordinates adipiscing elit. Proin facilisis
              est ut ultricies mattis. In vitae velit nec ante viverra
              convallis. Donec vehicula luctus euismod. Interdum et malesuada
              fames ac ante ipsum primis in faucibus.
            </p>
            <div class="tag-container">
              <div class="tag-label"><div class="inside-animation">apps</div></div>
              <div class="tag-label"><div class="inside-animation">business</div></div>
              <div class="tag-label"><div class="inside-animation">glass</div></div>
              <div class="tag-label"><div class="inside-animation">google</div></div>
              <div class="tag-label"><div class="inside-animation">technology</div></div>
            </div>
            <div class="user-info-container">
              <figure>
                <img
                  src="https://randomuser.me/api/portraits/lego/6.jpg "
                  alt="Lego User"
                  class="user-image"
                />
              </figure>
              <p class="regular-text user-name">Marry</p>
              <div class="user-tag">Proffesor</div>
              <div class="question-details regular-text">
                <p>Asked on June 5, 2015 in</p>
                <a class="link" href="#">Technology</a>
              </div>
            </div>
          </div>
          <div class="question-info-container">
            <div >
              <div class="info-label"><div class="inside-animation">70</div></div>
              <h5>Views</h5>
            </div>
            <div >
              <div class="info-label"><div class="inside-animation">3</div></div>
              <h5>Answers</h5>
            </div>
            <div >
              <div class="info-label"><div class="inside-animation">0</div></div>
              <h5>Votes</h5>
            </div>
          </div>
        </article>
        <article class=" article-container ">
          <div class="question-container">
            <h4 class="question-header">Another Question</h4>
            <p class="regular-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin
              facilisis est ut ultricies mattis. In vitae velit nec ante viverra
              convallis. Donec vehicula luctus euismod. Interdum et malesuada
              fames ac ante ipsum primis in faucibus.
            </p>
            <div class="tag-container">
              <div class="tag-label"><div class="inside-animation">android</div></div>
              <div class="tag-label"><div class="inside-animation">apple</div></div>
              <div class="tag-label"><div class="inside-animation">apps</div></div>
              <div class="tag-label"><div class="inside-animation">google</div></div>
              <div class="tag-label"><div class="inside-animation">technology</div></div>
            </div>
            <div class="user-info-container">
              <figure>
                <img
                  src="https://randomuser.me/api/portraits/lego/5.jpg "
                  alt="Lego User"
                  class="user-image"
                />
              </figure>
              <p class="regular-text user-name">admin</p>
              <div class="user-tag">Reviewer</div>
              <div class="question-details regular-text">
                <p>Asked on March 5, 2015 in</p>
                <a class="link" href="#">Mobile</a>
              </div>
            </div>
          </div>

          <div class="question-info-container">
            <div >
              <div class="info-label"><div class="inside-animation">52</div></div>
              <h5>Views</h5>
            </div>
            <div >
              <div class="info-label"><div class="inside-animation">10</div></div>
              <h5>Answers</h5>
            </div>
            <div >
              <div class="info-label"><div class="inside-animation">2</div></div>
              <h5>Votes</h5>
            </div>
          </div>
        </article>

      </div>
      </section>

      <aside class="container-right">

        <div class="right-top-container">
          <h3>Questions</h3>
          <p class="big-number">13</p>
        </div>
        <div class="right-top-container">
          <h3>Members</h3>
          <p class="big-number">8</p>
        </div>
        <div class="right-side-container">
          <div class="right-headline">
            <h4>MOST USED TAGS</h4>
          </div>

          <div class="right-tag-container">
            <div class="align-center"><div class="tag-label"><div class="inside-animation">busines</div></div><p class="regular-text">x 5</p></div class="flex">
            <div class="align-center"><div class="tag-label"><div class="inside-animation">marketing</div></div><p class="regular-text">x 5</p></div class="flex">
            <div class="align-center"><div class="tag-label"><div class="inside-animation">google</div></div><p class="regular-text">x 4</p></div class="flex">
            <div class="align-center"><div class="tag-label"><div class="inside-animation">technology</div></div><p class="regular-text">x 4</p></div class="flex">
            <div class="align-center"><div class="tag-label"><div class="inside-animation">apps</div></div><p class="regular-text">x 4</p></div class="flex">
            <div class="align-center"><div class="tag-label"><div class="inside-animation">bilionaire</div></div><p class="regular-text">x 3</p></div class="flex">
            <div class="align-center"><div class="tag-label"><div class="inside-animation">movie</div></div><p class="regular-text">x 2</p></div class="flex">
            <div class="align-center"><div class="tag-label"><div class="inside-animation">glass</div></div><p class="regular-text">x 2</p></div class="flex">

          </div>

          <a href="#" class="link">See more tags</a>
        </div>
        <div class="right-side-container">
          <div class="right-headline">
            <h4>HOT QUESTIONS</h4>
          </div>

          <div class="flex-vertical-container">
            <div class="flex">
              <figure>
                <img
                  src="https://randomuser.me/api/portraits/lego/6.jpg "
                  alt="Lego User"
                  class="user-image"
                />
              </figure>
              <a href="#" class="link"
                >What are the best mobile apps for traveling?</a
              >
            </div>
            <div class="flex">
              <figure>
                <img
                  src="https://randomuser.me/api/portraits/lego/3.jpg "
                  alt="Lego User"
                  class="user-image"
                />
              </figure>
              <a href="#" class="link"
                >What are the best mobile apps for traveling?</a
              >
            </div>
            <div class="flex">
              <figure>
                <img
                  src="https://randomuser.me/api/portraits/lego/2.jpg "
                  alt="Lego User"
                  class="user-image"
                />
              </figure>
              <a href="#" class="link"
                >What are the best mobile apps for traveling?</a
              >
            </div>
            <div class="flex">
              <figure>
                <img
                  src="https://randomuser.me/api/portraits/lego/1.jpg "
                  alt="Lego User"
                  class="user-image"
                />
              </figure>
              <a href="#" class="link"
                >What are the best mobile apps for traveling?</a
              >
            </div>
          </div>
        </div>
      </aside>
    </main>
    <footer class="footer">
      <div class="logo"></div>
      <div class="search"></div>
      <nav></nav>
      <div class="login"></div>
      <script src="../scripts/custom.js"></script>
    </footer>
  </body>
</html>
