
body {
  font-family: 'Roboto', sans-serif;

}

h1,h2,h3,h4,h5,p{
  margin:0;
}
h4 {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}

h5 {
  font-size: 12px;
  font-weight: 500;
  text-align: center;
}

a {
  text-decoration: none;
}
.flex{
  display: flex;
}

/* Navigation */

.nav-bar {
  display: flex;
  justify-content: flex-end;
  background-color: rgb(66, 66, 66);
  height: 80px;
}

.search-logo-wrapper {
  display: flex;
}

.search {
  display: flex;
  align-items: center;
  
}

.search-form {
  display: flex;

}

.input-text {
  background: rgb(255, 255, 255);
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  padding:0;
  padding-left: 5px;
  margin: 0;
  border-width:0;
}

.magnifying-icon {
  width: 25px;
  height: 25px;
  background-image: url("http://www.trenatics.com/public/images/iconfile/sprites/css-sprite/sprite-action-grey600.png");
  background-repeat: no-repeat;
  background-position: -244px -310px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  padding: 0;
  border:none;
}

.nav-links {
  display: flex;
}

nav {
  background-color: rgb(0, 0, 0);
  width: 300px;
}

.login {
  width: 200px;
}

/* Main page */

.main-page {
  display: flex;
}

/* Left side */

.side-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 200px;
  padding:20px;
}

.blue-button {
  width: 200px;
  height: 35px;
  background-color: rgb(22, 162, 255);
  margin: 20px;
}
/* Main content */


.main-content {
  display: flex;
  flex-direction: column;
}

.container-border {
  border-bottom: 1px solid rgb(238, 241, 241);
  border-left: 1px solid rgb(238, 241, 241);
}

/* Drop down menu */

.drop-down {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:10px;
}

.category-picker-headline {
  align-self: center;
  font-weight: 500;
}

.category-title {
  margin-left: 10px;
  font-weight: lighter;
}

.filter-select {
  width: 200px;
}

.filter-select, .questions-per-page {
  padding: 5px;
  font-size: 12px;
}

.selected-category {
  display: flex;
  justify-content: space-between;
}

.category-selection-wraper {
  display: flex;
  align-items: center;
}

.questions-per-page {
  width: 50px;
  align-self: flex-end;
  margin-left: 10px;
}

.drop-down select {
  background-color: rgb(163,167,175,0.1);
}

/* Questions */

.article-container {
  display: flex;
  min-height: 100px;
  justify-content: space-between;
}

.question-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.question-header {
  margin:0;
}

.question-paragraph{
  font-size: 0.833em;

}

.container-right {
  background-color: rgb(223, 225, 236);
  min-width: 200px;
}

.tag-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.tag-label {
  border-radius: 20px;
  border: 1px solid rgb(182, 182, 182);
  background-color: rgb(238, 241, 241);
  padding:1px 5px 0 5px ;
  height: 15px;
  margin: 10px;
  font-size: 12px;
  cursor: pointer;
  transition: transform 0.1s;
}

.tag-label:hover {
  -webkit-box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.21);
  -moz-box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.21);
  box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.21);
  transform: scale(1.1);
}

.question-info-container {
  display: flex;
  min-width: 156px;

}

.info-label {
  border-radius: 200px 200px 200px 200px;
  -moz-border-radius: 200px 200px 200px 200px;
  -webkit-border-radius: 200px 200px 200px 200px;
  border: 1px solid rgb(182, 182, 182);
  width: 30px;
  height: 30px;
  margin: 10px;
  font-size: 12px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform .3s;
}

.info-label:hover {
  animation: rotation 0.5s forwards;
}

@keyframes rotation {
  0% {
    transform: rotate(10deg);
  }
  40% {
    transform: rotate(20deg);
  }
  80% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(15deg);
  }
}


.main-content>:nth-child(odd) {
  background-color: rgb(163,167,175,0.1);
}
article:nth-child(odd) > div.question-info-container > div:nth-child(even) > div {

  background: rgb(5, 184, 139);
  border: none;
  color: rgb(252, 252, 252);
}

/* Container Right */
main > aside:nth-child(3) {
background-color: rgb(163,167,175,0.5);
}

.flex-vertical-container {
  display: flex;
  flex-direction: column;
}
.big-number {
  font-size: 30px;
  font-weight: 600;
  margin-top: 10px;
}

.side-container:nth-child(3) > .flex-vertical-container:nth-child(1),
.side-container:nth-child(3) > .flex-vertical-container:nth-child(2) {
  border-left: solid 4px ;
  padding-left: 5px;
  margin-top:25px;
  align-self: flex-start;
}

.side-container:nth-child(3) > .flex-vertical-container:nth-child(1) {
  border-color: rgb(22, 162, 255);
}

.side-container:nth-child(3) > .flex-vertical-container:nth-child(2) {
  border-color: rgb(219, 144, 4);
}

.side-container:nth-child(3) > .flex-vertical-container:nth-child(3) {
  margin: 20px 0 20px 0;
  align-items: flex-start;
}

aside:nth-child(3) > div:nth-child(3) > div > div.tag-label {
  margin-left: 0;
}

main > aside:nth-child(3) > div:nth-child(3) > div {

  align-items: flex-start;
}

 .link{
   color: rgb(22, 162, 255);;
 }

 .user-image {
  width: 20px;
  border-radius: 50%;
  transform: rotate(-10deg)
 }

/* Footer */

.footer{

  background-color: rgb(0, 0, 0);
  height: 200px;
}


@media only screen and (max-width: 960px) {

  .article-container {
    flex-direction: column;
  }

}
@media only screen and (max-width: 800px) {

  .side-container:nth-child(3) {
    display: none;
  }

}
@media only screen and (max-width: 600px) {

  .side-container:nth-child(1) {
    display: none;
  }

  .tag-container {
    flex-wrap: wrap;
  }

}
aside, section {
  overflow: auto;
}